/* str-chat messaging light str-chat__channel-list str-chat__channel-list-react */

.str-chat{
    width: 100%;
    margin: 0;
    height: 100%;
    /* background: #2563eb;    */
}
.chatContainer{
    flex: 4;
}
.str-chat__message-input{
    width: 96%;
}
.chakra-tabs{
    height: 100%;
}
.chakra-tabs__tab-panels{
    height: 100%;
}
.chakra-tabs__tab-panel{
    height: 100%;
}
@media (min-width: 360px) and (max-width: 600px) {
    .topbar{
        left: 0;
        z-index: 9000;

        .logo-contianer{
            display: none;
        }

        .profile-img{
            left: 5px;
            display: none;
        }

        .create-post-btn{
            display: flex;
            right: 5px;
            display: none;
        }
        .create-post-btn-1{
            display: none;
        }
        .searchbar{
            width: 60%;
            height: 80%;
            left: 20%;

            input[type = 'search']{
                border-radius: 0;
            }
        }
    }
    .post-card-container{
        padding-left: 8px;
        padding-right: 8px;
        overflow-x: hidden;
    }
}