.active{
    background: #4b5563;
}
.custom-audio-player {
    background-color: #f1f5f9;
    border-radius: 12px;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .custom-audio-player .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .custom-audio-player .progress-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #2563eb;
    outline: none;
    cursor: pointer;
  }
  
  .custom-audio-player .volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 60px;
    height: 5px;
    border-radius: 5px;
    background: #2563eb;
    outline: none;
    cursor: pointer;
  }
  
  .custom-audio-player .time {
    font-size: 0.875rem;
  }
  